
<main>
  <section class="sect hero">

    <div class="cont-hero">

      <h1 class="title">
        Villa María
        <b class="title-bold">Urban aparts</b>  
      </h1>

      <p class="text">
        Somos una empresa joven, atendida por sus propios
        dueños, dedicada a brindar servicios de calidad y
        excelencia a nuestros clientes
      </p>
    
      <a target="_blank" href="wa.link/mv40t9" class="btn-hero">Reserva tu lugar</a>

    </div>

    <div class="cont-imgs">

      <div class="cont-img-hero">
        <img src="/assets/img/home/IMG_3827.jpg" alt="" class="img-hero">
      </div>

      <div class="cont-img-hero">
        <img src="/assets/img/home/IMG_3729.jpg" alt="" class="img-hero">
      </div>

    </div>


    <svg (click)="scrollToSection('second-sect')" class="svg-hero" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  viewBox="0 0 256 256" xml:space="preserve">
      <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
        <path d="M 90 24.25 c 0 -0.896 -0.342 -1.792 -1.025 -2.475 c -1.366 -1.367 -3.583 -1.367 -4.949 0 L 45 60.8 L 5.975 21.775 c -1.367 -1.367 -3.583 -1.367 -4.95 0 c -1.366 1.367 -1.366 3.583 0 4.95 l 41.5 41.5 c 1.366 1.367 3.583 1.367 4.949 0 l 41.5 -41.5 C 89.658 26.042 90 25.146 90 24.25 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
      </g>
      </svg>

  </section>

  <section id="second-sect" class="sect img-bg">
  </section>

  <section class="sect equipments">
    <div class="cont-text">
      <h2 class="title">Departamentos completamente equipados</h2>
      <p class="text">de primer nivel, donde se combina la calidad y el buen gusto, con ambientes amplios, cálidos y luminosos</p>
    </div>
    <div class="img-equip"></div>
  </section>

  <section class="sect photos">
    <div class="photo-1"></div>
    <div class="photo-2"></div>
    <div class="photo-3"></div>
  </section>

  <section class="sect equipments spaces">
    <div class="cont-text">
      <h2 class="title">Espacios integrales</h2>
      <p class="text"><b class="title-bold">Cocina y Comedor:</b> Cocina, horno y hornallas, vajilla para cuatro personas, heladera, microondas, pava eléctrica, tostadora, cafetera. Infusiones: Café, té, azúcar y edulcorante.</p>
      <p class="text"><b class="title-bold">Habitaciones:</b> Ropa blanca (sábanas y toallas). Acolchado, frazadas, almohadas y almohadones. Cambios día por medio de ropa blanca. Placard, aire acondicionado y TV en cada ambiente.</p>
      <p class="text"><b class="title-bold">Baño:</b> Shampoo, acondicionador y jabón, secador de pelo, inodoro, bidet, ducha</p>
    </div>
    <div class="img-space"></div>
  </section>

  <section class="sect photos">
    <div class="photo-4"></div>
    <div class="photo-5"></div>
    <div class="photo-6"></div>
  </section>

  <section class="sect equipments services">
    <div class="cont-text">
      <h2 class="title">Servicios incluídos</h2>
      <ul>
        <li class="text">Aire acondicionado frío y calor. Calefacción central</li>
        <li class="text">Plancha y tabla de planchar.</li>
        <li class="text">Wifi 100 MB de alta velocidad.</li>
        <li class="text">Televisor LED Smart. Cable HD, Netflix y YouTube.</li>
        <li class="text">Balcón o patio de luz. Cochera incluída en el edificio.</li>
        <li class="text">Accesorios de limpieza.</li>
        <li class="text">Desayuno en Denut (Mendoza 1450)</li>
        <li class="text">Servicio de limpieza diario.</li>
      </ul>
    </div>
    <div class="img-serv"></div>
  </section>
  
</main>