@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* You can add global styles to this file, and also import other style files */
a:visited, a:link, a:active {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root {

  --light-color: #FFF; 
  --main-color: #b1a08e; 
  --main-dark-color: #9a8b7b; 


}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #B1A08E #DFE9EB;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
  border: 10px solid #FFFFFF;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #0064C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #B1A08E;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #9A8B7B;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #9A8B7B;
}
